body {
  background-color: #ffffff;
  width: 1920px;
}
body img {
  boder: 0;
  max-width: 100%;
  heigh: auto;
}
body h1 {
  font-size: 72px;
  font-color: #ffffff;
}
body h2 {
  font-size: 60px;
}
body h4 {
  font-size: 30px;
  fontcolor: #ffffff;
}
body p {
  font-size: 26px;
}
body #header {
  background-image: url(../img/bg-template.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  height: 850px;
  width: 1920px;
  display: flex;
  flex-flow: column nowrap;
}
body #top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 90px;
  padding: 34px;
}
body #icon {
  position: absolute;
  left: 62px;
  top: 10px;
  background-color: transparent;
}
body #head-area {
  position: absolute;
  right: 73px;
  top: 34px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
body #head-area a {
  font-size: 16px;
  color: #ffffff;
  padding: 4px;
  text-decoration: none;
}
body #head-area a:hover {
  text-decoration: underline;
}
body .head-word {
  display: flex;
  flex-flow: column nowrap;
}
